@use '@/styles/settings' as *;
@use '@/styles/utils' as *;

.footer {
    @include get-theme(snippr-dark);
    background: $navy_dark;
    border-top: 0.5px solid var(--divider-color);
}

.body {
    --bg-accent-primary: #{transparentize($white, 0.975)};
    --bg-accent-secondary: #{$navy};

    gap: 5vw;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    padding: ($base-spacing * 3) var(--gutter-small);

    @include breakpoint(laptop-l, min) {
        padding: ($base-spacing * 3) var(--gutter-small);
    }

    @include breakpoint(laptop-l) {
        padding-left: calc(var(--gutter-navbar) * 2);
        padding-right: calc(var(--gutter-navbar) * 2);
    }

    @include breakpoint(laptop) {
        grid-template-columns: 1.5fr 1fr 1fr 1fr;
    }

    @include breakpoint(tablet-l) {
        grid-template-columns: 1fr 1fr 1fr;
    }

    @include breakpoint(mobile-l) {
        grid-template-columns: 1fr 1fr;
        padding-left: var(--gutter-navbar);
        padding-right: var(--gutter-navbar);
    }

    @include breakpoint(mobile) {
        grid-template-columns: 1fr;
        text-align: center;
    }
}

.copyright {
    align-items: center;
    background-color: $navy;
    display: flex;
    flex-direction: column;
    gap: $base-spacing / 2;
    padding: $base-spacing;
    text-align: center;

    &_small {
        font-size: var(--font-small);
    }
}

.section {
    font-size: var(--font-standard);

    @include breakpoint(tablet-l) {
        &_large {
            grid-column: span 3;
        }
    }

    @include breakpoint(mobile-l) {
        &_large {
            grid-column: span 2;
        }
    }

    @include breakpoint(mobile) {
        &_large {
            grid-column: auto;
        }

        display: flex;
        flex-direction: column;
        align-items: center;

        &:not(.section_mobile) {
            display: none;
        }

        &:not(:last-child) {
            border-bottom: 0.5px solid var(--divider-color);
            padding-bottom: $base-spacing * 2;
        }
    }
}

.title {
    font-size: var(--font-standard);
    margin-bottom: $base-spacing;
}