@use '@/styles/settings' as *;
@use '@/styles/utils' as *;

.offcanvas {
    @include get-theme(light);
    background: $navy_dark;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    transform: translateX(-110%);
    transition: all 0.5s cubic-bezier(0.25, 1, 0.35, 1);
    width: 100%;
    z-index: get-layer(navigation);
    padding: var(--navbar-gutter);

    &_active {
        transform: none;
    }
}