@use '@/styles/settings' as *;
@use '@/styles/utils' as *;

.wrapper {
    --gutter: #{$base-spacing * 3};

    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: calc(var(--gutter) * -1);
    margin-right: calc(var(--gutter) * -1);
    padding-bottom: $base-spacing * 2;
    padding-top: $base-spacing * 2;

    @include breakpoint(tablet) {
        grid-template-columns: 1fr;
    }

    @include breakpoint(mobile) {
        margin: 0;
    }
}

.column {
    padding: 0 var(--gutter);

    @include breakpoint(tablet, min) {
        &:not(:last-child) {
            border-right: solid 0.5px var(--divider-color);
        }
    }
    
    @include breakpoint(tablet) {
        --gutter: #{$base-spacing * 2};

        &:not(:last-child) {
            border-bottom: solid 0.5px var(--divider-color);
            padding-bottom: var(--gutter);
            margin-bottom: var(--gutter);
        }
    }
}